header {
    background-color: #299be4;
    height: 80px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 10px
}

.header-right-button {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.content table thead tr th {
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
}
.errors{
    color: red;
}